<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/note/edit" method="post">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" th:value="${note.title}" placeholder="Input title ..." />
    </div>
    <div>
        <label for="content">Content</label>
        <input type="text" id="content" name="content" placeholder="Input content ..." />
    </div>
    <input type="hidden" name="id" th:value="${note.id}" />
    <button type="submit">Submit</button>
</form>
</body>
</html>